.textSider {


    text-align: left;
    height: 500px;
        
}


.corpoCard{

    text-align: center;
    height: 200px;
  

}

h3 {

    display: inline;
}

.labels {

    text-align: center;
}

